{% extends "layout/_main.html" %}
{% block title %}Dashboard{% endblock %}
{% block pageDescription %}your infomation{% endblock %}

{% block body %}

  <div class="col-xs-6 col-sm-6">
      <div class="panel panel-info">
          <div class="panel-heading">Current data</div>
          <div class="panel-body">
            No data
          </div>
        </div>
  </div>
  <div class="col-xs-6 col-sm-6">
      <div class="panel panel-info">
          <div class="panel-heading">New data</div>
          <div class="panel-body">
            No data
          </div>
        </div>
  </div>

{% endblock %}
