<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>OYABUN - {% block title %}{% endblock %}</title>

  <!-- Libs Files -->
  <script src="{% _base_url %}/static/libs/jquery/jquery-1.9.1.js"></script>
  <script src="{% _base_url %}/static/libs/angularjs/angular.min.js"></script>
  <script src="{% _base_url %}/static/libs/angularjs/angular-resource.min.js"></script>
  <!--<script src="{% _base_url %}/static/libs/angularjs/angular-route.min.js"></script>-->
  <script src="{% _base_url %}/static/libs/jquery-ui/jquery-ui-1.10.3.custom.min.js"></script>
  <link href="{% _base_url %}/static/libs/bootstrap/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />
  <script src="{% _base_url %}/static/libs/bootstrap/bootstrap.min.js"></script>

  <!-- Plugin Files -->
  <link href="{% _base_url %}/static/plugin/font-awesome/font-awesome.min.css" media="all" rel="stylesheet" type="text/css" />

  <!-- OYABUN Files-->
  <script src="{% _base_url %}/static/oyabun/oyabun.min.js"></script>
  <link href="{% _base_url %}/static/oyabun/oyabun.min.css" media="all" rel="stylesheet" type="text/css" />

</head>